/* Footer section */

.footer{
    width:100%;
    background:#0f2a4d;
    color:#fff;
    margin-top:80px;
}

/* Top */

.footer-top{
    max-width:1200px;
    margin:auto;
    padding:50px 20px;

    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-col{
    display:flex;
    flex-direction:column;
    gap:12px;

    flex:1;
    min-width:180px;
}

.logo-col{
    flex:1.5;
}

/* Logo */

.footer-logo{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.footer-logo img{
    width:55px;
}

.footer-logo h3{
    font-size:18px;
}

.footer-col p{
    color:#d9d9d9;
    line-height:1.6;
}

/* Links */

.footer-col h3{
    font-size:16px;
    margin-bottom:8px;
}

.footer-col a{
    text-decoration:none;
    color:#d9d9d9;
    transition:.3s;
}

.footer-col a:hover{
    color:#4ea3ff;
}

/* Social */

.social-icons{
    display:flex;
    gap:12px;
    margin-top:15px;
}

.social-icons img{
    width:34px;
    height:34px;
}

/* Contact */

.contact-item{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.contact-item img{
    width:20px;
    height:20px;
}

/* Bottom */

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.15);
    text-align:center;
    padding:18px;
    font-size:15px;
    color:#ddd;
}

.social-icons a{
  padding: 1em;
  background-color: rgb(252, 251, 251);
  border-radius: 50%;
}



/* mobile responsive */

@media (max-width:768px){

    .footer-top{
        flex-direction:column;
        gap:35px;
    }

    .footer-col{
        width:100%;
    }

    .footer-logo{
        justify-content:center;
    }

    .logo-col{
        text-align:center;
    }

    .social-icons{
        justify-content:center;
    }

    .footer-col h3{
        margin-bottom:10px;
    }

    .contact-item{
        justify-content:center;
    }

}


