/*  navigation bar css */ 

.navbar {
  width: 100%;
  height: 80px;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.39);
}

.navbar-logo img {
  width: clamp(140px, 15vw, 180px);
  display: block;
}

.navbar-links {
  flex: 1;
  display: flex;
  gap: 8em;
  justify-content: flex-end;
  margin-right: 40px;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #222;
  font-size: 17px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #0054e1;
}

.navbar-links img {
  width: 20px;
  height: 20px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.navbar-buttons button {
  padding: 10px 28px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

#signup {
  background: #0054e1;
  color: white;
  border: 2px solid #0054e1;
}

#signup:hover {
  background: #0043b4;
}

#login {
  background: white;
  color: #0054e1;
  border: 2px solid #0054e1;
}

#login:hover {
  background: #0054e1;
  color: white;
}

.menu-icon img {
  width: 3em;
  display: none;
}

/*  Tablet responsive */

@media (max-width: 992px) {
  .navbar {
    padding: 0 1em;
    gap: 1em;
  }

  .navbar-links {
    position: relative;
    left: 28px;
  }

  .navbar-links ul {
    gap: 15px;
  }

  .navbar-links a {
    font-size: 1rem;
  }

  .navbar-buttons button {
    padding: 9px 20px;
    font-size: 0.9rem;
  }
}

/*  Mobile responsive */

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    background-color: #d3d9e4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: fixed;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 2em;
    
    
    left: 0;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .navbar-links a {
    font-size: clamp(15px, 5vw, 2em);
  }

  .navbar-buttons {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2em;
  }

  .navbar-buttons button {
    padding: 0.8em 2em;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
  }

  #login {
    padding: 0.8em 2.4em;
  }
  .menu-icon img {
    display: block;
  }
}


