
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/*  Hero section */

.hero{
    width: 100%;
    min-height: 100vh;
    background-color: #ECF4FE;
}

.hero-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 2em 2%;
}

.hero-right {
  width: 38%;
}
.hero-left {
  position: relative;
  top: 2em;
}

#search-icon {
  width: 20px;
  height: 20px;
}

#heroimg {
  width: 30em;
  height: 20em;
  object-fit: cover;
}

#learn-text {
  font-size: clamp(2.2rem, 4.5vw, 4.5rem);
}
#ln-1 {
  color: #0156ee;
}
#ln-2 {
  color: #09be5e;
}
#ln-3 {
  color: #fa9726;
}
#student-text {
  font-size: clamp(2.2rem, 4.5vw, 4.6rem);
}

.hero-left p {
  font-size: clamp(1rem, 2vw, 2rem);
  opacity: 0.7;
}

.search-bar {
  background-color: #0055e2;
  width: 80%;
  position: relative;
  margin-top: 3em;
  border-radius: 7px;
}

.search-bar input {
  width: 90%;
  height: 3.5em;
  border-radius: 7px 0 0 7px;
  
}

.search-bar input::placeholder {
  font-size: clamp(1rem, 2vw, 1.1rem);
  position: relative;
  left: 1.4em;
  top: 3px;
}

#search-icon {
  position: absolute;
  left: auto;
  right: 16px;
  top: 8px;

  width: 28px;
  height: 28px;
}

.hero-buttons {
  margin-top: 4em;
  display: flex;
  gap: 2em;
}

.btn {
  width: clamp(8em, 17vw, 14em);
  padding: 1em;
  font-size: clamp(0.7rem, 1.3vw, 1.1rem);
  font-weight: 600;
  border-radius: 8px;
}
.note-btn {
  background-color: #0054e1;
  color: white;
  border: none;
  transition: 0.3s ease;
}
.note-btn:hover {
  border: 2px solid #0054e1;
  color: #0054e1;
  background-color: white;
}
.browse-btn {
  border: 2px solid #0054e1;
  color: #0054e1;
  transition: 0.3s ease;
  white-space: nowrap;
}
.browse-btn:hover {
  background-color: #0054e1;
  color: white;
}

#heroimg {
  border-radius: 10px;
  border: 10px solid rgb(253, 253, 253);
  width: 100%;
  height: auto;
  position: relative;
}

/*hero tablet responsive */

@media (max-width: 992px) {
  #search-icon {
    position: absolute;
    left: auto;
    right: 16px;
    top: 8px;
    width: 25px;
    height: 25px;
  }
  .search-bar input {
    width: 85%;
    height: 3.2em;
    border-radius: 7px 0 0 7px;
  }
}

/* Hero mobile responsive */

@media (max-width: 768px) {
  
 
  .hero-main {
    flex-direction: column-reverse;
  }
  .hero-right {
    width: 95%;
  }
  #heroimg {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    height: auto;
    display: block;
    object-fit: fill;
  }
  #learn-text {
    font-size: clamp(1.2rem, 8.5vw, 4.5rem);
  }
  #student-text {
    font-size: clamp(2.2rem, 8.5vw, 4.6rem);
  }
  .hero-left p {
    font-size: clamp(0.5=7rem, 1vw, 2rem);
  }
  .hero-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    width: 100%;
    font-size: clamp(1.2rem, 1.3vw, 1.1rem);
    font-weight: 600;
    border-radius: 8px;
    padding: 0.7em;
  }
  .search-bar{
    width: 100%;
    margin-top: 1.5em;
  }
  .hero-left{
    top: 0;
  }
  .hero-buttons{
    margin-top: 1.5em;
    gap: 1em;
  }
}


/* categorie section css */

.ctg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 2em;
}

.ctg-title h3{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: clamp(1rem , 2vw , 3rem);
  
  
}
.ctg-title h3::before,
.ctg-title h3::after{
  content: "";
  width: 60px;
  height: 2px;
  background: black;
}
.ctg-cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}


.ctg-card{
  width: 15em;
  height: 18em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-radius: 10px;
  box-shadow: 0 0  10px black;
  text-align: center;
  transition: all 0.3s ease;
  font-size: clamp(15px , 2vw , 18px);
}

.ctg-card:hover{
  width: 16em;
  height: 19em;
  cursor: pointer;
  
}

.card-img{
  background-color: #7ba3e761;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img{
  width: 35px;
  height: 35px;
}


.recent-notes{
    width: 95%;
    max-width: 100%;
    margin: 80px auto;
}



/* Recent notes section */

.recent-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.recent-header h2{
    font-size: clamp(1.2rem,2vw,2rem);
}

.recent-header a{
    text-decoration: none;
    color: #0054e1;
    font-weight: 600;
}

/* Cards */

.recent-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.note-card{
    flex: 1 1 340px;
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,.1);

    transition: .3s;
}

.note-footer button:hover{
  cursor: pointer;
}

.note-card:hover{
    transform: translateY(-5px);
}

.note-img img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.note-content{
    flex: 1;
}

.note-content h3{
    font-size: 16px;
    margin-bottom: 8px;
}

.note-content p{
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

.note-footer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.pdf{
    background: #e9f1ff;
    color: #0054e1;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.note-footer button{
    width: 28px;
    height: 28px;
    border: 1px solid #0155E2;
    border-radius: 4px;
}
.note-footer button img{
  width: 20px;
}



